Repository vishnuvasita21/tomazo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_customer_app, build_partner_app, build_admin_app, deploy_customer_app, deploy_partner_app, deploy_admin_app

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  PROJECT_ID: $GCP_PROJECT_ID

before_script:
  - echo $GCP_CLOUD_BUILD_SERVICE_KEY | base64 -d > gcp-service-key.json
  - docker login -u _json_key --password-stdin https://gcr.io < gcp-service-key.json

build_customer_app:
  stage: build
  script:
    - docker build -t gcr.io/$PROJECT_ID/customer-app-frontend:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA Customer App/frontend/
    - docker push gcr.io/$PROJECT_ID/customer-app-frontend:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA
  only:
    changes:
      - Customer App/frontend/**/*

build_partner_app:
  stage: build
  script:
    - docker build -t gcr.io/$PROJECT_ID/partner-app-frontend:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA Partner App/frontend/
    - docker push gcr.io/$PROJECT_ID/partner-app-frontend:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA
  only:
    changes:
      - Partner App/frontend/**/*

build_admin_app:
  stage: build
  script:
    - docker build -t gcr.io/$PROJECT_ID/admin-app-frontend:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA Admin App/frontend/
    - docker push gcr.io/$PROJECT_ID/admin-app-frontend:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA
  only:
    changes:
      - Admin App/frontend/**/*

deploy_customer_app:
  stage: deploy
  script:
    - gcloud auth activate-service-account --key-file gcp-service-key.json
    - gcloud config set project $PROJECT_ID
    - gcloud run deploy customer-app-frontend-$CI_COMMIT_REF_SLUG --image gcr.io/$PROJECT_ID/customer-app-frontend:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA --region us-central1 --platform managed --allow-unauthenticated
  only:
    changes:
      - Customer App/frontend/**/*

deploy_partner_app:
  stage: deploy
  script:
    - gcloud auth activate-service-account --key-file gcp-service-key.json
    - gcloud config set project $PROJECT_ID
    - gcloud run deploy partner-app-frontend-$CI_COMMIT_REF_SLUG --image gcr.io/$PROJECT_ID/partner-app-frontend:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA --region us-central1 --platform managed --allow-unauthenticated
  only:
    changes:
      - Partner App/frontend/**/*

deploy_admin_app:
  stage: deploy
  script:
    - gcloud auth activate-service-account --key-file gcp-service-key.json
    - gcloud config set project $PROJECT_ID
    - gcloud run deploy admin-app-frontend-$CI_COMMIT_REF_SLUG --image gcr.io/$PROJECT_ID/admin-app-frontend:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA --region us-central1 --platform managed --allow-unauthenticated
  only:
    changes:
      - Admin App/frontend/**/*

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

fixing code
  Partner App/frontend/src/App.js
Due: build_partner_app, deploy_partner_app

Update code for getReservationDocumentID
  Partner App/backend/getReservationDocumentID/index.js
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

main into feature/jonathan
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
  Partner App/frontend/package-lock.json
Due: build_partner_app, deploy_partner_app

Pipeline changes
  .gitlab-ci.yml
  Customer App/frontend/package-lock.json
  package-lock.json
Due: build_customer_app, deploy_customer_app

Pipeline changes
  .gitlab-ci.yml
  Customer App/frontend/app.yaml
  Partner App/frontend/app.yaml
Due: build_customer_app, build_partner_app, deploy_customer_app, deploy_partner_app

pipeline script
  .gitlab-ci.yml
Due: none

Working Pipeline
  .gitlab-ci.yml
  Customer App/frontend/package.json
  Partner App/frontend/package.json
Due: build_customer_app, build_partner_app, deploy_customer_app, deploy_partner_app

Updated dependencies for the pipeline to run.
  Customer App/frontend/package.json
  Partner App/frontend/package.json
Due: build_customer_app, build_partner_app, deploy_customer_app, deploy_partner_app

Updates necessary for pipeline execution.
  .gitlab-ci.yml
  Customer App/frontend/src/views/RestaurantList/index.js
Due: build_customer_app, deploy_customer_app

added signout to partner app
  Partner App/frontend/src/views/homePage.jsx
Due: build_partner_app, deploy_partner_app

Remove unused UpdateReservationStatus page. Fix errors in viewReservationsRestaurant
  Partner App/frontend/src/App.js
  Partner App/frontend/src/views/UpdateReservationStatus/Form.js
  Partner App/frontend/src/views/UpdateReservationStatus/formLogic.js
  Partner App/frontend/src/views/UpdateReservationStatus/index.js
  Partner App/frontend/src/views/ViewReservationsRestaurant/ViewReservationsRestaurant.js
Due: build_partner_app, deploy_partner_app

Fix errors in updateRestaurantInfo
  Partner App/frontend/src/views/UpdateRestaurantInfo/UpdateRestaurantInfo.js
Due: build_partner_app, deploy_partner_app

Add ../../Customer App/frontend/package-lock.json
  Customer App/frontend/package-lock.json
Due: build_customer_app, deploy_customer_app

Fix errors in addTable
  Partner App/frontend/src/views/AddTable/AddTable.js
Due: build_partner_app, deploy_partner_app

chatbot Lex
  Customer App/frontend/src/Chatbot.css
  Customer App/frontend/src/Chatbot.js
  package-lock.json
  package.json
Due: build_customer_app, deploy_customer_app

update deleteReservation
  Customer App/backend/chatbot/deleteReservation.py
Due: none

getMenu
  Customer App/backend/chatbot/getMenu.py
Due: none

update getRestaurant
  Customer App/backend/chatbot/getRestaurantById.py
Due: none

update reservation
  Customer App/backend/chatbot/updateReservation.py
Due: none

addtable
  Partner App/backend/chatbot/addTable.py
Due: none

book reservation
  Partner App/backend/chatbot/BookRestaurantReservation.py
Due: none

create restaurant
  Partner App/backend/chatbot/createrestaurant.py
Due: none

delete restaurant
  Partner App/backend/chatbot/deleteRestuarant.py
Due: none

get table status
  Partner App/backend/chatbot/getTableStatus.py
Due: none

set close
  Partner App/backend/chatbot/setClose.py
Due: none

set open
  Partner App/backend/chatbot/setOpen.py
Due: none

set restaurant status
  Partner App/backend/chatbot/setRestaurantStatus.py
Due: none

set table status
  Partner App/backend/chatbot/setTableStatus.py
Due: none

update reservation
  Partner App/backend/chatbot/updateReservationDetails.py
Due: none
